/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/methylseq -profile test,<conda/docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  single_end = true
  input_paths = [
['SRR5640803',  ['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/003/SRR5640803/SRR5640803.fastq.gz']],
['SRR5640804',  ['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/004/SRR5640804/SRR5640804.fastq.gz']],
['SRR5640805',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/005/SRR5640805/SRR5640805.fastq.gz']],
['SRR5640807',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/007/SRR5640807/SRR5640807.fastq.gz']],
['SRR5640808',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/008/SRR5640808/SRR5640808.fastq.gz']],
['SRR5640809',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/009/SRR5640809/SRR5640809.fastq.gz']],
['SRR5640810',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/000/SRR5640810/SRR5640810.fastq.gz']],
['SRR5640811',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/001/SRR5640811/SRR5640811.fastq.gz']],
['SRR5640812',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/002/SRR5640812/SRR5640812.fastq.gz']],
['SRR5640813',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/003/SRR5640813/SRR5640813.fastq.gz']],
['SRR5640815',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/005/SRR5640815/SRR5640815.fastq.gz']],
['SRR5640816',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/006/SRR5640816/SRR5640816.fastq.gz']],
['SRR5640817',  ['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/007/SRR5640817/SRR5640817.fastq.gz']],
['SRR5640818',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/008/SRR5640818/SRR5640818.fastq.gz']],
['SRR5640819',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/009/SRR5640819/SRR5640819.fastq.gz']],
['SRR5640820',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/000/SRR5640820/SRR5640820.fastq.gz']],
['SRR5640821',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/001/SRR5640821/SRR5640821.fastq.gz']],
['SRR5640822',	['ftp://ftp.sra.ebi.ac.uk/vol1/fastq/SRR564/002/SRR5640822/SRR5640822.fastq.gz']]
  ]
  // Genome references
  fasta = 'https://github.com/nf-core/test-datasets/raw/methylseq/reference/genome.fa'
  fasta_index = 'https://github.com/nf-core/test-datasets/raw/methylseq/reference/genome.fa.fai'
  // Ignore `--input` as otherwise the parameter validation will throw an error
  schema_ignore_params = 'genomes,input_paths,input'
}
